.app.light{
    --bg-color: #cecece;
    --inverted-bg-color: #000041;

    --primary-color: #021696;
    --secondary-color: #0285ff;
    --inverted-primary-color: #029602;
    --inverted-secondary-color: #03c303;
}